<h1>{{ otherProfile ? "" : "My" }} Profile</h1>
<mat-divider></mat-divider>

<div class="info" *ngIf="(profile$ | async) as profile">
  <mat-card *ngIf="profile.photos; else missingPhoto">
  <div class="photos">
    <div class="main" *ngIf="(avatar$ | async) as avatar">
      <img [src]="avatar.url" alt="avatar">
    </div>

    <div class="other" *ngIf="(allPhotos$ | async) as allPhotos">
      <div class="other-photo cursor" *ngFor="let photo of allPhotos" (click)="setMain(photo.id)">
        <img [src]="photo.url" [alt]="photo.url">
      </div>
    </div>
  </div>
  </mat-card>

  <ng-template #missingPhoto>
    <mat-card>
      <div class="missing-photo">
        No photo. Upload?
      </div>
    </mat-card>
  </ng-template>

  <br>

  <div class="form-group">
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
  </div>

  <br>

  <mat-divider></mat-divider>

  <div>
    Fame rating: {{profile.fame_rating}}
  </div>
  <br>

  <mat-divider></mat-divider>

  <app-user-pofile-item
    [fieldValue]="profile.fname + ' ' + profile.lname"
    (changeValue)="setName($event)"
    fieldName="name">
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit your first name" [(ngModel)]="profile.fname">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit your last name" [(ngModel)]="profile.lname">
    </mat-form-field>
  </app-user-pofile-item>


  <app-user-pofile-item [fieldValue]="profile.email" (changeValue)="setMe($event)" fieldName="e-mail">
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit your mail" [(ngModel)]="profile.email">
    </mat-form-field>
  </app-user-pofile-item>

  <app-user-pofile-item [fieldValue]="profile.password" (changeValue)="setMe($event)" fieldName="password">
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit your password" [(ngModel)]="profile.password">
    </mat-form-field>
  </app-user-pofile-item>


  <app-user-pofile-item [fieldValue]="profile.username" (changeValue)="setMe($event)" fieldName="username">
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit your username" [(ngModel)]="profile.username">
    </mat-form-field>
  </app-user-pofile-item>


  <app-user-pofile-item [fieldValue]="profile.age" (changeValue)="setMe($event)" fieldName="age">
    <mat-form-field class="form-field">
      <mat-label>Set your age</mat-label>
      <mat-select [(ngModel)]="profile.age">
        <mat-option *ngFor="let age of ages" [value]="age">
          {{age}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-user-pofile-item>

  <app-user-pofile-item [fieldValue]="profile.biography" (changeValue)="setMe($event)" fieldName="biography">
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit your biography" [(ngModel)]="profile.biography">
    </mat-form-field>
  </app-user-pofile-item>


  <app-user-pofile-item [fieldValue]="profile.gender" (changeValue)="setMe($event)" fieldName="gender">
    <mat-form-field class="form-field">
      <mat-label>Select gender</mat-label>
      <mat-select [(ngModel)]="profile.gender">
        <mat-option selected *ngFor="let gender of genderList" [value]="gender">
          {{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-user-pofile-item>


  <app-user-pofile-item [fieldValue]="profile.preferences" (changeValue)="setMe($event)" fieldName="preferences">
    <mat-form-field class="form-field">
      <mat-label>Select preferences</mat-label>
      <mat-select [(ngModel)]="profile.preferences">
        <mat-option selected *ngFor="let preferences of preferencesList" [value]="preferences">
          {{preferences}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-user-pofile-item>


  <div class="interests">
    <br><span>Interests: </span>
    <div class="chips">
      <mat-chip-list *ngIf="profile.interests; else notIterests">
        <mat-chip *ngFor="let item of profile.interests" (click)="removeTag(item)">{{ item }}</mat-chip>
      </mat-chip-list>
    </div>
    <ng-template #notIterests>
      <span>Add some tags</span>
    </ng-template>
    <div class="input">
      <mat-form-field class="form-field">
        <input matInput placeholder="Add new tag" [matAutocomplete]="auto" [(ngModel)]="newTag" (ngModelChange)="onTagChange($event)" value=''>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of suggestedTags" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
      <button mat-stroked-button (click)="saveTag()">add tag</button>
    </div>
  </div>

  <mat-divider>
  </mat-divider>

  <div *ngIf="profile.viewers.length">
    <h2>Page viewed by:</h2>

    <div *ngFor="let user of profile.viewers" class="cursor" [routerLink]="['/profile/' + user.id]">
      {{user.username}}<br>
    </div>
  </div>

  <div *ngIf="profile.subscriptions.length">
    <h2>My subscriptions:</h2>

    <div *ngFor="let user of profile.subscriptions" class="cursor" [routerLink]="['/profile/' + user.id]">
      {{user.username}}<br>
    </div>
  </div>

  <div *ngIf="profile.subscribers.length">
    <h2>My subscribers:</h2>

    <div *ngFor="let user of profile.subscribers" class="cursor" [routerLink]="['/profile/' + user.id]">
      {{user.username}}<br>
    </div>
  </div>

</div>
