.chat
  border: 1px solid
  border-radius: 5px
  width: 70%
  min-height: 500px
  display: flex
  flex-direction: column
  .messages
    flex: 15 1 auto
    padding: 10px
    width: auto
    display: flex
    flex-direction: column
    max-height: 65vh
    overflow: scroll
    .messages-item
      //color: white
      border-radius: 10px
      padding: 10px 15px
      max-width: 70%
      margin-top: 10px

    .mine
      align-self: flex-end
      background-color: rgba(175, 176, 255, 0.81)
    .notmine
      align-items: flex-start
      background-color: rgba(255, 246, 224, 0.81)

  .input
    padding: 10px
    flex: 0 1 auto
    border: 1px solid
    display: flex
    input
      padding: 10px 15px
      font-size: 14px
      flex: 1 1 auto


.list
  width: 30%

.align-top
  align-items: flex-start

.chat-item

  &:hover
    background-color: #d7d7d7

  transition: all 0.5s
  background-color: #ebebeb
