<h1>My Profile</h1>
<mat-divider></mat-divider>

<div class="info" *ngIf="(profile$ | async) as profile">

  <span *ngIf="editName; else elseName">
    {{ newName || getFullName() || "set yout name" }}
  </span>
  <ng-template #elseName>
    <mat-form-field class="form-field" *ngIf="!editName">
      <input matInput
      placeholder="Edit your first name"
      [(ngModel)]="fname">
    </mat-form-field>
    <mat-form-field class="form-field" *ngIf="!editName">
      <input matInput
      placeholder="Edit your last name"
      [(ngModel)]="lname">
    </mat-form-field>
  </ng-template>
  <button mat-stroked-button (click)="saveName()">
    {{ editName ? 'edit name' : 'save change' }}
  </button>
  <br><br>


  <span *ngIf="editMail; else elseMail">
    E-mail: {{newMail || profile.email || "set your mail"}}
  </span>
  <ng-template #elseMail>
    <mat-form-field class="form-field">
      <input matInput
      placeholder="Edit your mail"
      [(ngModel)]="mail">
    </mat-form-field>
  </ng-template>
  <button mat-stroked-button (click)="saveMail()">
    {{ editMail ? 'edit mail' : 'save change' }}
  </button>
  <br><br>


  <span *ngIf="editUsername; else elseUsername">
    Age: {{newUsername || profile.username || "set your username"}}
  </span>
  <ng-template #elseUsername>
    <mat-form-field class="form-field">
      <input matInput
      placeholder="Edit your username"
      [(ngModel)]="username">
    </mat-form-field>
  </ng-template>
  <button mat-stroked-button (click)="saveUsername()">
    {{ editUsername ? 'edit username' : 'save change' }}
  </button>
  <br><br>


  <span *ngIf="editAge; else elseAge">
    Age: {{newAge || profile.age || "set your age"}}
  </span>
  <ng-template #elseAge>
    <mat-form-field class="form-field">
      <mat-label>Set your age</mat-label>
      <mat-select [(ngModel)]="age">
        <mat-option *ngFor="let age of ages" [value]="age">
          {{age + 18}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
  <button mat-stroked-button (click)="saveAge()">
    {{ editAge ? 'edit age' : 'save change' }}
  </button>
  <br><br>
  

  <span *ngIf="editBiography; else elseBiography">
    Biography: {{newBiography || profile.biography || "set your biography"}}
  </span>
  <ng-template #elseBiography>
    <mat-form-field class="form-field">
      <input matInput
      placeholder="Edit your biography"
      [(ngModel)]="biography">
    </mat-form-field>
  </ng-template>
  <button mat-stroked-button (click)="saveBiography()">
    {{ editBiography ? 'edit biography' : 'save change' }}
  </button>
  <br><br>
  
  
  <span *ngIf="editGender; else elseGender">
    Gender: {{newGender || profile.gender || "select your gender"}}
  </span>
  <ng-template #elseGender>
    <mat-form-field class="form-field">
      <mat-label>Select gender</mat-label>
      <mat-select [(ngModel)]="gender">
        <mat-option selected *ngFor="let gender of genderList" [value]="gender">
          {{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
  <button mat-stroked-button (click)="saveGender()">
    {{ editGender ? 'change gender' : 'save change' }}
  </button>
  <br><br>
  

  <span *ngIf="editPref; else elsePref">
    Preferences: {{newPref || profile.preferences || "select your preferences"}}
  </span>
  <ng-template #elsePref>
    <mat-form-field class="form-field">
      <mat-label>Select preferences</mat-label>
      <mat-select [(ngModel)]="preferences">
        <mat-option selected *ngFor="let preferences of preferencesList" [value]="preferences">
          {{preferences}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
  <button mat-stroked-button (click)="savePref()">
    {{ editPref ? 'change preferences' : 'save change' }}
  </button>
  <br><br>
  

  <div class="interests">
    <div class="input">
      <br><span>Interests: </span>
      <mat-chip-list *ngIf="profile.interests || interests; else notIterests">
        <mat-chip *ngFor="let item of profile.interests">#{{ item }}</mat-chip>
        <mat-chip *ngFor="let item of interests">#{{ item }}</mat-chip>
      </mat-chip-list>
      <ng-template #notIterests>
        <span>add some tags</span>
      </ng-template>
    </div>
    <div class="list">
      <mat-form-field class="form-field">
        <input matInput
        placeholder="Add new tag"
        [(ngModel)]="newTag"
        value=''>
      </mat-form-field>
      <button mat-stroked-button (click)="saveTag()">add tag</button>
    </div>
  </div>
</div>

<button mat-stroked-button (click)="setMe()">set me</button>
<button mat-stroked-button (click)="sendData($event)">send data</button>
