<h1>My Profile</h1>
<mat-divider></mat-divider>

<div class="info" *ngIf="(profile$ | async) as profile">

  <app-user-pofile-item
    [fieldValue]="fullName"
    (changeValue)="getFullName()"
    placeholder="name">
    <mat-form-field class="form-field">
      <input matInput
        placeholder="Edit your first name"
        [(ngModel)]="fname">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput
        placeholder="Edit your last name"
        [(ngModel)]="lname">
    </mat-form-field>
  </app-user-pofile-item>


  <app-user-pofile-item
    [fieldValue]="mail"
    (changeValue)="0"
    placeholder="e-mail">
    <mat-form-field class="form-field">
      <input matInput
        placeholder="Edit your mail"
        [(ngModel)]="mail">
    </mat-form-field>
  </app-user-pofile-item>


  <app-user-pofile-item
    [fieldValue]="username"
    (changeValue)="0"
    placeholder="username">
    <mat-form-field class="form-field">
      <input matInput
        placeholder="Edit your username"
        [(ngModel)]="username">
    </mat-form-field>
  </app-user-pofile-item>
  
  
  <app-user-pofile-item
  [fieldValue]="age"
  (changeValue)="0"
  placeholder="age">
  <mat-form-field class="form-field">
    <mat-label>Set your age</mat-label>
    <mat-select [(ngModel)]="age">
      <mat-option *ngFor="let age of ages" [value]="age">
        {{age}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-user-pofile-item>
  
  
  <app-user-pofile-item
    [fieldValue]="biography"
    (changeValue)="0"
    placeholder="biography">
    <mat-form-field class="form-field">
      <input matInput
        placeholder="Edit your biography"
        [(ngModel)]="biography">
    </mat-form-field>
  </app-user-pofile-item>
  
  
  <app-user-pofile-item
    [fieldValue]="gender"
    (changeValue)="0"
    placeholder="gender">
    <mat-form-field class="form-field">
      <mat-label>Select gender</mat-label>
      <mat-select [(ngModel)]="gender">
        <mat-option selected *ngFor="let gender of genderList" [value]="gender">
          {{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-user-pofile-item>
  
  
  <app-user-pofile-item
    [fieldValue]="preferences"
    (changeValue)="0"
    placeholder="preferences">
    <mat-form-field class="form-field">
      <mat-label>Select preferences</mat-label>
      <mat-select [(ngModel)]="preferences">
        <mat-option selected *ngFor="let preferences of preferencesList" [value]="preferences">
          {{preferences}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-user-pofile-item>
  

  <div class="interests">
    <br><span>Interests: </span>
    <div class="chips">
      <mat-chip-list *ngIf="interests; else notIterests">
        <mat-chip *ngFor="let item of profile.interests">#{{ item }}</mat-chip>
        <mat-chip *ngFor="let item of interests">#{{ item }}</mat-chip>
      </mat-chip-list>
    </div>
    <ng-template #notIterests>
      <span>add some tags</span>
    </ng-template>
    <div class="input">
      <mat-form-field class="form-field">
        <input matInput
        placeholder="Add new tag"
        [(ngModel)]="newTag"
        value=''>
      </mat-form-field>
      <button mat-stroked-button (click)="saveTag()">add tag</button>
    </div>
  </div>

</div>

<button mat-stroked-button (click)="setMe()">set me</button>
<button mat-stroked-button (click)="sendData($event)">send data</button>
